body {
  background-color: grey;
}

.MainProductDetail {
  background-color: whitesmoke;
  padding: 10px;
}

.ExclusiveTag {
  display: inline-block;
  background-color: yellow;
  padding: 5px;
  margin: 10px;
}

.SeriesImage {
  display: inline;
  inline-size: 100px;
}